<link rel="stylesheet" type="text/css" href="/css/asciinema-player.css" >

<asciinema-player
    class={{ .Get "class" }}
    src="{{ .Get "cast" }}" 
    theme="{{if (.Get "theme")}}{{ .Get "theme" }}{{ else }}monokai{{ end }}" 
    autoplay="{{if (.Get "autoplay")}}{{ .Get "autoplay" }}{{ else }}true{{ end }}" 
    loop="{{if (.Get "loop")}}{{ .Get "loop" }}{{ else }}loop{{ end }}"
    {{ with .Get "rows" }}rows="{{.}}"{{ end }}
    {{ with .Get "columns" }}columns="{{.}}"{{ end }}>
</asciinema-player>

<script src="js/asciinema-player.js"></script>
